@charset "utf-8";

@use "f-variables" as *;

// input
// ----------------------------------------------------------

.c-input {
  /* stylelint-disable */
  // 使用する最に stylelint-disableコメント削除
  /* stylelint-enable */
}
// Chromeでオートフィルした時にinputが黄色くなるのを回避

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px $color--white inset !important;
}

// textarea
// ----------------------------------------------------------

.c-textarea {
  /* stylelint-disable */
  // 使用する最に stylelint-disableコメント削除
  /* stylelint-enable */
}

// placeholder
// ----------------------------------------------------------

:placeholder-shown {
  color: $color--gray;
}

::-webkit-input-placeholder {
  color: $color--gray;
}

:-moz-placeholder {
  color: $color--gray;
  opacity: 1;
}

::-moz-placeholder {
  color: $color--gray;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $color--gray;
}

.c-select.is-empty {
  color: $color--gray;
}
