@charset "utf-8";

* {
    backface-visibility: hidden;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;

    &:before,
    &:after {
        backface-visibility: hidden;
        box-sizing: border-box;
    }
}

html {
    font-size: $fontSize;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: $color--body;
    color: $color--text;
    font-family: $fontFamily;
    letter-spacing: .8px;
    line-height: $lineHeight;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    word-wrap: break-word;

    @include media(sm) {
        font-family: $fontSpFamily;
    }
}

// text
strong,
em {
    font-weight: 700;
}

pre {
    white-space: pre-wrap;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

// link
a {
    @include hoverOpacity(.6);

    color: $color--link;
    outline: none;
    text-decoration: none;
    transition: background-color 100ms, border-color 100ms, color 100ms,
        opacity 100ms;
}

// image
img,
svg,
video {
    max-width: 100%;
    vertical-align: top;
}

// table
table {
    max-width: 100%;
    width: 100%;

    th,
    td {
        word-break: break-all;
    }
}

// form
input,
button,
select,
textarea {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: middle;

    &::-moz-focus-inner {
        border: 0;
    }
}

input,
button,
textarea {
    appearance: none;
}

input[type='checkbox'] {
    appearance: checkbox;
}

input[type='radio'] {
    appearance: radio;
}

textarea {
    resize: none;
}

input[type='button'],
input[type='submit'],
button {
    background: none;
    border: 0;
    cursor: pointer;
}

button {
    overflow: visible; //IE11
}

// テキスト選択時のスタイル
// 同じ内容でも分けて指定しないと効かない
::selection {
    background: #06c;
    color: $color--white;
}

::-moz-selection {
    background: #06c;
    color: $color--white;
}

// Macだと入力中の文字に::selectionが効いてしまい、見えなくなるため
input::selection,
textarea::selection {
    background: #ddd;
    color: $color--text;
}

input::-moz-selection,
textarea::-moz-selection {
    background: #ddd;
    color: $color--text;
}

// IE11のクリアボタンを非表示
input::-ms-clear {
    display: none;
}
