@charset "utf-8";

@use "f-variables" as *;
@use "f-mixin" as *;

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: (33 / 14);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @include media(sm) {
    padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
  }
}

body {
  background-color: $color--body;
  color: $color--text;
  font-family: $fontFamily;
  letter-spacing: .22px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  word-wrap: break-word;

  * {

    &::selection {
      /* stylelint-disable */
      // 使用する最に stylelint-disableコメント削除
      /* stylelint-enable */
    }
  }
}

a {
  @include hoverOpacity(.6);

  color: $color--link;
  text-decoration: none;

  &[href ^= "tel:"] {
    @include media(lg) {
      pointer-events: none;
    }
  }
}

// image

img,
svg,
video {
  max-width: 100%;
  vertical-align: top;
}

picture {

  img {
    height: auto;
    width: 100%;
  }
}

// table

table {
  border: 1px solid $color--border;
  border-collapse: collapse;
  max-width: 100%;
  width: 100%;

  th,
  td {
    border: 1px solid $color--border;
    word-break: break-all;
  }
}

// IE11のクリアボタンを非表示

input::-ms-clear {
  display: none;
}

ul,
ol {
  list-style-position: inside;
}

[data-js-focus-visible] :focus:not([data-focus-visible-added]) {
  outline: none;
}

// 状態

[aria-hidden = "false"] {
  visibility: visible;
}

[aria-hidden = "true"] {
  display: none;
  visibility: hidden;
}
