@charset "utf-8";

@use "f-variables" as *;
@use "f-mixin" as *;

.l-breadcrumbs {
  margin-bottom: 20px;

  &__inner {
    @include fz(12, 12, 400);

    align-items: center;
    display: flex;

    > span {
      align-items: center;
      display: inline-flex;

      @include notfirst {
        margin-left: 10px;

        &:before {
          @include arrow(7, 1, $color--text, right);

          margin-right: 13px;
        }
      }
    }

    a {
      color: $color--text;
      letter-spacing: .5px;
    }
  }

  @include media(sm) {
    display: none;
  }
}
