@charset "utf-8";

@use "f-variables" as *;
@use "f-mixin" as *;

html {
  height: 100%;
  opacity: 0;

  &.is-loaded {
    opacity: 1;
    transition: opacity $comMS $comES;
  }
}

body {
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  width: 100%;

  // アンチエイリアス
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.l-page {
  background-color: $color--white;
  margin-top: $headerH;
  position: relative;

  @include media(sm) {
    margin-top: $smHeaderH;
  }
}

.l-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: $mainW;
  position: relative;
  width: $mainW;

  @include media(sm) {
    min-width: 100%;
    padding: 0 $smSpace;
    width: 100%;
  }
}

.l-lg {
  @include media(sm) {
    display: none !important;
  }
}

.l-sm {
  @include media(lg) {
    display: none !important;
  }
}
