@charset "utf-8";

// stickyfill.js
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    &:before,
    &:after {
        content: '';
        display: table;
    }
}

// swiper.js
.swiper {
    &-button-next,
    &-button-prev {
        letter-spacing: 0;
    }
}
