@charset "utf-8";

@use "sass:map";
@use "sass:math";
@use "../Foundation/variables" as *;
@use "../Foundation/mixin" as *;
@use "../Foundation/functions" as *;

.c-breadcrumbs {

  &__inner {
    width: 100%;
  }

  &__list {
    display: flex;
  }

  &__item {
    @include notfirst {
      margin-left: 20px;
    }
  }
}
