@charset "utf-8";

@use "sass:map";
@use "sass:math";
@use "../Foundation/variables" as *;
@use "../Foundation/mixin" as *;

@include mq-down(md) {

  .c-modal {
    $this:&;

    &__main {
      margin: 0 30px;
      width: 100%;
    }

    &__content {
      padding: 30px;
    }

    &__close {
      height: 45px;
      right: 15px;
      top: 15px;
      width: 45px;

      span {

        &:before,
        &:after {
          height: 20px;
        }
      }
    }
  }
}
