{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "no-empty": 2,
    "no-extra-semi": 2,
    "no-irregular-whitespace": 2,
    "eqeqeq": [2, "smart"],
    "no-alert": 0,
    "func-names": 2,
    "indent": [2, 2, { "ignoredNodes": ["TemplateLiteral > *"] }],
    "quotes": [2, "single"],
    "key-spacing": [
      2,
      { "align": "colon", "beforeColon": true, "afterColon": true }
    ],
    "linebreak-style": [2, "unix"],
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"]
  }
}
