<%- include('_analytics-body') %>
<%
var meta = (typeof meta === 'undefined') ? '' : meta;
%>

<header class="l-header">
  <div class="l-header__inner">
    <a class="logo" href="/">
      <% if(meta.pageName === 'page-top') { %>
        <h1 class="logo__txt">Quicint</h1>
      <% } else { %>
        <p class="logo__txt">Quicint</p>
      <% } %>
    </a>
    <nav class='l-nav'>
      <ul class="l-nav__list">
        <li class="l-nav__item">
          <a class="l-nav__link" data-linkname="page-top" href="/">HOME</a>
        </li>
        <li class="l-nav__item">
          <a class="l-nav__link" data-linkname="page-2" href="/page2/">Page2</a>
        </li>
        <li class="l-nav__item">
          <a class="l-nav__link" data-linkname="page-3" href="/page3/">Page3</a>
        </li>
        <li class="l-nav__item">
          <a class="l-nav__link" data-linkname="sitemap" href="/sitemap/">サイトマップ</a>
        </li>
      </ul>
    </nav>
  </div>
  <button id="hmb" class="l-hmb l-sm" aria-label="メニューボタン"><span></span></button>
  <div id="hmb__bg" class="l-hmb-bg"></div>
</header>
