<%
// define
const DEFINE = (typeof define === 'undefined') ? '' : define

// metaData
const metaData = (typeof meta === 'undefined') ? '' : meta;
%>

<nav id="nav" class="c-nav">
  <ul class="c-nav__list">
    <li class="c-nav__item">
      <a class="c-nav__link" data-indicator="top" href="/">HOME</a>
    </li>
    <li class="c-nav__item">
      <a class="c-nav__link" data-indicator="example" href="<%= sitePath %>example/">モジュール利用例</a>
    </li>
  </ul>
</nav>
