<%
var pageData = {
  pageName: 'page-3',
  title:'ページ3',
  desc:'サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです',
  hierarchy: [
    {
      title: "ページ3",
      link: "/page3/"
    }
  ]
};
%>

<%- include('../inc/_head', {meta: pageData}) %>
  <!-- main -->
  <main class="l-page">
    <div class="l-container">
      <%- include('../inc/_breadcrumbs', {meta: pageData}) %>

      <!-- contents -->
      <p>ページ3です。</p>

    </div>
  </main>
<%- include('../inc/_footer') %>
