@@include('../inc/head.html',{
  "title": "Page3｜Quicint（クイント）",
  "description": "サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです"
})

<body id="gotop" class="page-3">
  @@include('../inc/header.html')

  <!-- main -->
  <main class="l-page">
    <div class="l-container">

      @@include('../inc/breadcrumbs.html', {
        "hierarchy": [
          {
            "title": "Page3",
            "link": "page3"
          }
        ]
      })

      <p>ページ3です。</p>
    </div>
  </main>

  @@include('../inc/footer.html')
</body>
</html>
