@charset "utf-8";

@use "sass:map";
@use "sass:math";
@use "../Foundation/variables" as *;
@use "../Foundation/mixin" as *;
@use "../Foundation/functions" as *;

.l-mainwrap {
  opacity: 0;
  transition: opacity 1200ms $comES;

  .is-loaded & {
    opacity: 1;
  }

  &__inner {

    .is-nav-active & {
      position: relative;
      z-index: -1;
    }
  }
}

.l-page {
  position: relative;
}

.l-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 map.get($map: $space, $key: lg);
  position: relative;
  width: 100%;

  @include mqw-down {
    padding: 0 map.get($map: $space, $key: sm);
  }
}

.l-mqw-up {

  @include mqw-down {
    display: none !important;
  }
}

.l-mqw-down {

  @include mqw-up {
    display: none !important;
  }
}

.l-mqw-xmd-up {

  @include mqw-down(xmd) {
    display: none !important;
  }
}

.l-mqw-xmd-down {

  @include mqw-up(xmd) {
    display: none !important;
  }
}
