@charset "utf-8";

@use "sass:map";
@use "sass:math";
@use "../Foundation/variables" as *;
@use "../Foundation/mixin" as *;
@use "../Foundation/functions" as *;

.l-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  &__inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 map.get($map: $space, $key: lg);
    position: relative;
    width: 100%;
  }

  &__copyright {
    text-align: center;
  }

  @include mqw-down {

    &__inner {
      padding: 0 map.get($map: $space, $key: sm);
    }
  }
}
