@charset "utf-8";

@use "../Foundation/variables" as *;
@use "../Foundation/mixin" as *;
@use "../Foundation/functions" as *;
@use "sass:map";

.l-footer {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-top: 50px;

  &__inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-width: $mainW;
    position: relative;
    width: $mainW;
  }

  &__copyright {
    text-align: center;
  }

  @include mq-down(md) {

    &__inner {
      min-width: 100%;
      width: 100%;
    }
  }
}
