@charset "utf-8";

@use "scss/f-variables" as *;
@use "scss/f-mixin" as *;

* {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #f7f8f9;
  display: flex;
  height: 100vh;
  justify-content: center;

  article {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 100px;
  }

  h1 {
    @include fz(24, 24, 700);

    margin-bottom: 30px;
    text-align: center;
  }

  p {
    @include fz(16, 24, 400);

    @include notfirst {
      margin-top: 10px;
    }
  }

  @include media(sm) {
    margin: 0 20px;

    article {
      border-radius: 8px;
      padding: 40px 30px;
    }

    h1 {
      @include fzs(40, 40);

      margin-bottom: 30px;
      text-align: center;
    }

    p {
      @include fzs(28, 42);

      @include notfirst {
        margin-top: 15px;
      }
    }
  }
}
