<%
var ejsDefine = (typeof ejsDefine === 'undefined') ? '' : ejsDefine;
var pageData = {
  pageName: 'page-2-2',
  title:'ページ2-2',
  desc:'サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです',
  hierarchy: [
    {
      title: "ページ2",
      link: "/page2/"
    },
    {
      title: "ページ2-2",
      link: "/page2/page2-2/"
    }
  ]
};
%>

<%- include('../../inc/_head', {meta: pageData}) %>
<!-- main -->
<main class="l-page">
  <div class="l-container">
    <%- include('../../inc/_breadcrumbs', {meta: pageData}) %>

    <!-- contents -->
    <p>ページ2-2です。</p>

  </div>
</main>
<%- include('../../inc/_footer') %>
