<%
// dir
const dir = '../'

// define
const DEFINE = (typeof define === 'undefined') ? '' : define

const style = `<style>
.example-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.u-animation {
  transition: background-color 2s ease;
}
.u-animation.is-animation {
  background-color: aqua;
}
</style>
`

// pageData
const pageData = {
  pageName: 'example',
  title:'モジュール利用例',
  desc:'サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです',
  ogType: 'website',
  hierarchy: [
    {
      title: "モジュール利用例",
      link: "example/"
    }
  ],
  addInlineStyle: style
};
%>

<%- include(dir + 'html-partials/common-includes/_head', {meta: pageData}) %>
<!-- main -->
<main class="l-page">

  <!-- include modal html -->
  <%- include(dir + 'html-partials/ui/_modal', {data: {
    modalName: 'example',
  }}) %>

  <div class="l-container l-spacer">
    <%- include('../html-partials/ui/_breadcrumbs', {meta: pageData}) %>

    <!-- example: modal open button -->
    <div class="example-box">
      <button id="modal-btn">modal open</button>
    </div>

    <!-- example: details tag toggle with fade animation -->
    <div class="example-box">
      <div class="c-details" data-details-toggle="close">
        <button title="toggle" data-details-toggle-btn><span></span>toggle</button>
        <div class="c-details__content" data-details-toggle-content>
          <div class="c-details__content--inner">
            <ul>
              <li>・Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dolorum, consequuntur quasi impedit veritatis nihil!</li>
              <li>・Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dolorum, consequuntur quasi impedit veritatis nihil!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- example: linking while having a tag in the child element -->
    <div class="example-box">
      <div data-link="/">
        <p>aタグを子に持つ場合にclickでページ遷移させたい時など、`data-link="/"`を指定しリンク遷移させる事が出来ます。aタグ外をclickしてみて下さい。</p>
        <ul>
          <li><a href="https://example.com" target="_blank">・link tag</a></li>
          <li><a href="https://example.com" target="_blank">・link tag</a></li>
          <li><a href="https://example.com" target="_blank">・link tag</a></li>
          <li><a href="https://example.com" target="_blank">・link tag</a></li>
        </ul>
      </div>
    </div>

    <!-- example: added className when entering the display area -->
    <div class="example-box">
      <p>サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。</p>
      <p>サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。サンプルテキストです。</p>
      <p class="u-animation">スクロールするなどし要素が表示領域に入った時、classNameに`is-animation`を追加します。</p>
    </div>

  </div>
</main>
<%- include(dir + 'html-partials/ui/_footer', {meta: pageData}) %>
