<%
// define
const DEFINE = (typeof define === 'undefined') ? '' : define

// metaData
var metaData = (typeof meta === 'undefined') ? '' : meta;
if(metaData.hierarchy) {
%>
<div class="c-breadcrumbs l-lg" typeof="BreadcrumbList" vocab="https://schema.org/">
  <div class="c-breadcrumbs__inner">
    <div class="c-breadcrumbs__list">
      <div class="c-breadcrumbs__item" property="itemListElement" typeof="ListItem">
        <a property="item" typeof="WebPage" title="ホーム" href="/">
          <span property="name">ホーム</span>
        </a>
        <meta property="position" content="1">
      </div>

      <% metaData.hierarchy.forEach((item, index) => { %>
        <div class="c-breadcrumbs__item" property="itemListElement" typeof="ListItem">
          <% if(index < metaData.hierarchy.length - 1 && item.link.length > 0) { %>
            <a property="item" typeof="WebPage" title="<%= item.title %>" href="<%= sitePath + item.link %>">
          <% } %>

          <span property="name"><%= item.title %></span>

          <% if(index < metaData.hierarchy.length - 1 && item.link.length > 0) { %>
            </a>
          <% } %>
          <meta property="position" content="<%= index + 2 %>">
        </div>
      <% }) %>
    </div>
  </div>
</div>
<% } %>
