<%
// dir
const dir = '../'

// define
const DEFINE = (typeof define === 'undefined') ? '' : define

// metaData
const metaData = (typeof meta === 'undefined') ? '' : meta;
%>
<footer id="footer" class="l-footer">
  <div class="l-footer__inner">
    <a href="#gotop" data-scroll>GoTop</a>
    <p class="l-footer__copyright">©Quicint</p>
  </div>
</footer>

</div>
<script src="<%= sitePath %>assets/scripts/bundle.js?rev" defer="defer"></script>
<%- include('../common-includes/_analytics-footer') %>
</div>
</body>
</html>
