<%
// define
const DEFINE = (typeof define === 'undefined') ? '' : define

// metaData
const metaData = (typeof meta === 'undefined') ? '' : meta;

// SITESETTING
const SITESETTING = (typeof siteSetting === 'undefined') ? '' : siteSetting;
%>

<header id="header" class="l-header">
  <div class="l-header__inner">
    <a class="l-header__logo" href="/">
      <% if(metaData.pageName === 'top') { %>
        <h1>Quicint</h1>
      <% } %>

      <% if(metaData.pageName !== 'top') { %>
        <p>Quicint</p>
      <% } %>
    </a>
    <%- include('_nav') %>
  </div>

  <%- include('_hmb' ) %>
</header>
