<%
// dir
const dir = '../'

// DEFINE
const DEFINE = (typeof define === 'undefined') ? '' : define

// pageData
const pageData = {
  pageName: 'page2',
  title:'ページ2',
  desc:'サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです',
  hierarchy: [
    {
      title: "ページ2",
      link: "page2/"
    }
  ]
};
%>

<%- include(dir + 'inc/_head', {meta: pageData}) %>
<!-- main -->
<main class="l-page">
  <div class="l-container">
    <%- include('../modules/_breadcrumbs', {meta: pageData}) %>

    <!-- contents -->
    <p>ページ2です。</p>

  </div>
</main>
<%- include(dir + 'inc/_footer', {meta: pageData}) %>
