<%
var define = (typeof define === 'undefined') ? '' : define;
var pageData = {
  pageName: 'page2',
  title:'ページ2',
  desc:'ページ2です。ページ2です。ページ2です。ページ2です。ページ2です。ページ2です。ページ2です。ページ2です。ページ2です。ページ2です。ページ2です。',
  hierarchy: [
    {
      title: "ページ2",
      link: "page2/"
    }
  ]
};
%>

<%- include('../inc/_head', {meta: pageData}) %>
<!-- main -->
<main class="l-page">
  <div class="l-container">
    <%- include('../inc/_breadcrumbs', {meta: pageData}) %>

    <!-- contents -->
    <p>ページ2です。</p>

  </div>
</main>
<%- include('../inc/_footer') %>
