<%
// ドメインセット
var siteUrl = (node_env === 'production' ) ? siteSetting.siteUrl : localurl;
var ejsDefine = (typeof ejsDefine === 'undefined') ? '' : ejsDefine;
var pageData = {
  pageName: 'page-notfound',
  title:'Page Not Found',
  desc:'サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです'
};
%>

<%- include('./inc/_head', {meta: pageData}) %>
<!-- main -->
<main class="l-page">
  <div class="l-container">

    <!-- contents -->
    <p>page not found</p>

  </div>
</main>
<%- include('./inc/_footer') %>
