<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>メンテナンス中です｜HTML5案件用のボイラープレートQuicit</title>
    <style>
      <%- include('../dist/assets/css/maintenance.css') %>
    </style>
  </head>

  <body>
    <article>
      <h1>只今メンテナンス実施中</h1>
      <div>
        <p>メンテナンス期間：<br class="l-sm"><b>20◯◯年◯月◯日 00:00 〜 20◯◯年◯月◯日 00:00</b></p>
        <p>日頃より○○サイトをご利用いただき、誠にありがとうございます。<br>現在システムメンテナンスのため、こちらのページはご利用いただけません。</p>
        <p>ご不便をお掛け致しますが、ご理解いただきますようお願い申し上げます。</p>
        <p>お問い合わせ：<a href="https://example.com">https://example.com</a></p>
      </div>
    </article>
  </body>

</html>
