@charset "utf-8";

@use "../Foundation/variables" as *;
@use "../Foundation/mixin" as *;
@use "../Foundation/functions" as *;

.l-mainwrap {
  opacity: 0;
  visibility: hidden;

  .is-loaded & {
    opacity: 1;
    visibility: visible;
  }

  .is-nav-active & {
    position: relative;
    z-index: -1;
  }
}

.l-page {
  margin-top: map-get($map: $headerH, $key: lg);
  position: relative;

  @include media(sm) {
    margin-top: map-get($map: $headerH, $key: sm);
  }
}

.l-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;

  @include media(lg) {
    min-width: $mainW;
    width: $mainW;
  }

  @include media(sm) {
    padding: 0 map-get($map: $space, $key: sm);
    width: 100%;
  }
}

.l-lg {
  @include media(sm) {
    display: none !important;
  }
}

.l-sm {
  @include media(lg) {
    display: none !important;
  }
}
