@charset "utf-8";

@use "../Foundation/variables" as *;
@use "../Foundation/mixin" as *;
@use "../Foundation/functions" as *;

.l-header {
  position: relative;
  z-index: 9;

  &__inner {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: map-get($map: $headerH, $key: lg);
    justify-content: space-between;
    margin: 0 auto;
    min-width: $mainW;
    position: relative;
    width: $mainW;

    .logo {

      &__txt {
        @include fz(26, 26, 700);
      }
    }
  }

  @include media(sm) {

    &__inner {
      height: map-get($map: $headerH, $key: sm);
      min-width: 100%;
      padding: 0 map-get($map: $space, $key: sm);
      width: 100%;
    }
  }
}
