on:
  push:
    branches:
      - develop
name: DEPLOY
jobs:
  FTP-Deploy-Action:
    name: FTP-Deploy-Action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Use Node.js 13.x
        uses: actions/setup-node@v1
        with:
          node-version: '13.x'

      - name: Build Project
        run: |
          yarn install
          npm run cicd:production:fullpath

      - name: List output files
        run: ls

      - name: FTP-Deploy-Action
        uses: SamKirkland/FTP-Deploy-Action@3.0.0
        with:
          ftp-server: ${{ secrets.FTP_SERVER }}
          ftp-username: ${{ secrets.FTP_USERNAME }}
          ftp-password: ${{ secrets.FTP_PASSWORD }}
          local-dir: dist-production-fullpath
