@charset "utf-8";

@use "sass:map";
@use "sass:math";
@use "../Foundation/variables" as *;
@use "../Foundation/mixin" as *;
@use "../Foundation/functions" as *;

// focus-visible

.focus-visible:not([not-focus-visible]) {
  outline: 1px solid rgba(var(--primary-color-rgb), .18);
  outline-width: 5px !important;
}

[data-js-focus-visible] :focus:not([data-focus-visible-added]) {
  outline: none;
}

// swiper.js

.swiper {
  opacity: 0;
  overflow: visible;
  position: relative;
  transition: opacity $comMS $comES;

  &.-overflow-hidden {
    overflow: hidden;
  }

  &.swiper-initialized,
  &.swiper-container-initialized {
    opacity: 1;
  }
}
