@charset "utf-8";

@use "sass:map";
@use "sass:math";
@use "../Foundation/variables" as *;
@use "../Foundation/mixin" as *;

// swiper.js

.swiper {
  opacity: 0;
  overflow: visible;
  position: relative;
  transition: opacity $comMS $comES;

  &.-overflow-hidden {
    overflow: hidden;
  }

  &.swiper-initialized,
  &.swiper-container-initialized {
    opacity: 1;
  }
}
